.step-container {
    animation: fadeIn 0.3s ease;
}

textarea, input {
    width: 100;
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {
    textarea, input {
        font-size: 12px;
        padding: 6px;
    }

    .step-container {
        padding: 10px;
    }
}